<h1>Power # <%= @power.id %> </h1>
<br><br>
<h2>Power Name</h2>
<h3> <%= @power.name %> </h3>
<br>
<h2>Power Description</h2>
<h3> <%= @power.description %> </h3>
<br>
<%= link_to "Edit", edit_power_path(@power) %>